### Base de Postos de Paradas para Caminhoneiros 

- Origem: http://www.infraestrutura.gov.br/images/2015/08/Caderno_Postos_de_Combustivel_FINAL_JUN.pdf

In [206]:
import pandas as pd
import tabula
import numpy as np

In [207]:
colunas =['longitude', 
          'latitude',
          'id_br',
          'bandeira',
          'jurisdicao',
          'rodovia',
          'km',
          'uf',
          'abastec', # Abastecimento
          'restaur', # Restaurante
          'lanch', # Lanchonete
          'loja_coven', # Loja Conveniencia
          'tel_pub', # Telefone Publico
          'hotel', # Hotel
          'serv_mec_eletr', # Serviço de mecanico e eletrico
          'borrach', # Borracharia
          'cx_eletr', # Caixa Eletronico
          'area_estac', # Area de Estacionamento em (m^2)
          'no_vagas'] # Numero de Vagas

In [229]:
#Endereço do arquivo
file_path = 'http://www.infraestrutura.gov.br/images/2015/08/Caderno_Postos_de_Combustivel_FINAL_JUN.pdf'

In [542]:
paginas = {0:'8', # Acre
           1:'10', # Alagoas
           2:'12', # Amapá
           3:'14', # AMAZONAS
           4:'16-18', #BAHIA
           5:'20-23', #CEARÁ
           6:'25-27', #ESPÍRITO SANTO
           7:'29-34', #GOIÁS - DISTRITO FEDERAL 
           8:'36-41', #MARANHÃO
           9:'43:46', #MATO GROSSO
           10:'48:50', #MATO GROSSO DO SUL
           11:'52-62', #MINAS GERAIS
           12:'64-67', #PARÁ
           13:'69-72',#PARAÍBA
           14:'74-84', #PARANÁ
           15:'86:92', #PERNAMBUCO
           16:'94:97', #PIAUÍ
           17:'99-105', #RIO DE JANEIRO
           18:'107-111', #RIO GRANDE DO NORTE
           19:'113-122',#RIO GRANDE DO SUL
           20:'124-125',#RONDÔNIA
           21:'127',#RORAIMA
           22:'129-136',#SANTA CATARINA
           23:'138-143',#SÃO PAULO
           24:'145-146',#SERGIPE,
           25:'148-149'#TOCANTINS
          }

In [ ]:
dict_dados = {}
for i in range(0,26):
    pagina = paginas[i]
    base = 'df_'+ pagina
    df = tabula.read_pdf(file_path,pages=pagina)
    df.columns = colunas
    df = df.drop_duplicates()
    df = df[~df['longitude'].astype(str).str.contains("[a-zA-Z]", na=False)]
    dic_dados[base]=df
    print('Base'+str(i)+' inserida'.)

### Validar todas bases

### Concatenar Todas as bases em um DataFrame

#

### 2. Alagoas

In [248]:
df_al = tabula.read_pdf(file_path,pages=10)
df_al.columns = colunas
df_al = df_al.drop_duplicates()
df_al = df_al[~df_al['longitude'].str.contains("[a-zA-Z]", na=False)]
df_al.head(2)

In [256]:
df_al.shape

(28, 19)

In [526]:
df_al

,longitude,latitude,id_br,bandeira,jurisdicao,rodovia,km,uf,abastec,restaur,lanch,loja_coven,tel_pub,hotel,serv_mec_eletr,borrach,cx_eletr,area_estac,no_vagas
0,-35838944,-9396000,1,BRANCA,FEDERAL,BR-101,34.7,AL,1,1,1,1,1,1,1,1,0,NaN,70
1,-35839056,-9396417,2,IPIRANGA,FEDERAL,BR-101,73.9,AL,1,1,1,1,1,0,1,1,0,NaN,120
2,-35839889,-9408806,3,BRANCA,FEDERAL,BR-101,75.2,AL,1,1,1,1,1,1,1,1,0,NaN,100
3,-35836889,-9430083,4,SHELL,FEDERAL,BR-101,77.6,AL,1,1,1,1,1,1,1,1,0,NaN,60
4,-36109583,-9796694,5,BR,FEDERAL,BR-101,138.0,AL,1,1,1,0,1,1,0,0,0,NaN,50
5,-36110861,-9799944,6,BR,FEDERAL,BR-101,138.1,AL,1,1,1,1,1,1,1,1,1,NaN,120
6,-36358061,-9902056,7,BR,FEDERAL,BR-101,186.4,AL,1,1,1,1,1,1,1,1,0,NaN,100
7,-36545056,-9957778,8,BR,FEDERAL,BR-101,202.0,AL,1,1,1,1,1,1,1,1,0,NaN,100
8,-36570361,-9985528,9,BRANCA,FEDERAL,BR-101,206.0,AL,1,1,1,1,1,0,1,1,0,NaN,80
9,-36037417,-9037694,10,BRANCA,FEDERAL,BR-104,17.8,AL,1,1,1,1,1,0,0,1,0,NaN,30
10,-37300167,-9328806,11,BR,FEDERAL,BR-316,76.8,AL,1,1,1,1,0,1,0,1,0,3600.0,30
11,-37264306,-9364306,12,BRANCA,FEDERAL,BR-316,83.5,AL,1,1,1,1,1,1,1,0,0,6000.0,30
12,-37237278,-9372111,13,ALE,FEDERAL,BR-316,85.7,AL,1,1,1,1,1,1,0,0,0,1000.0,5
13,-37136972,-9387028,14,SETA,FEDERAL,BR-316,97.6,AL,1,0,0,0,1,0,0,1,0,2000.0,15
14,-37089222,-9389333,15,BRANCA,FEDERAL,BR-316,102.8,AL,1,1,1,0,0,0,0,1,0,8000.0,20
15,-36993444,-9404583,16,FEDERAL,FEDERAL,BR-316,113.8,AL,1,0,0,0,0,0,0,0,0,10000.0,20
16,-36922250,-9399583,17,BR,FEDERAL,BR-316,121.6,AL,1,0,0,1,1,0,0,0,0,2000.0,10
17,-36814944,-9389222,18,BRANCA,FEDERAL,BR-316,133.5,AL,1,1,1,0,0,0,0,1,0,5000.0,30
18,-36756806,-9390139,19,BRANCA,FEDERAL,BR-316,140.0,AL,1,1,1,0,1,0,0,1,0,2000.0,10
19,-36689444,-9405639,20,BR,FEDERAL,BR-316,147.6,AL,1,1,1,1,1,0,0,1,0,8000.0,40
20,-36651139,-9430139,21,BR,FEDERAL,BR-316,152.5,AL,1,1,1,1,0,0,1,1,0,10000.0,40
21,-36621667,-9422528,22,BR,FEDERAL,BR-316,156.2,AL,1,1,1,0,1,0,1,1,0,3000.0,5
22,-36617972,-9426917,23,DISLUB,FEDERAL,BR-316,156.8,AL,1t,1,1,1,1,0,1,1,0,8000.0,15
23,-37363333,-9144028,24,DISLUB,FEDERAL,BR-423,8.4,AL,1,1,1,0,1,0,0,1,0,2500.0,20
24,-37512528,-9192222,25,DESATIVADO,FEDERAL,BR-423,25.5,AL,0,1,1,1,1,0,1,1,0,5000.0,20
25,-37731833,-9264806,26,BR,FEDERAL,BR-423,51.0,AL,1,1,1,1,1,0,0,1,0,5000.0,20
26,-37983639,-9330472,27,BRANCA,FEDERAL,BR-423,79.5,AL,1,1,1,0,0,0,1,1,0,10000.0,30
27,-38185694,-9404889,28,FEDERAL,FEDERAL,BR-423,103.5,AL,1,1,1,1,1,1,0,1,0,10000.0,20

In [530]:
df_al['longitude'].astype(str).str.contains("[a-zA-Z]")

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
Name: longitude, dtype: bool

In [527]:
df_al[~df_al['longitude'].str.contains("[a-zA-Z]", na=False)]

AttributeError: Can only use .str accessor with string values!

### 3. Amapá

In [250]:
df_ap = tabula.read_pdf(file_path,pages=12)

In [253]:
df_ap.columns = colunas
df_ap = df_ap.iloc[1:11,:]
df_ap.head(2)

In [258]:
df_ap.shape

(10, 19)

### 4. Amazonas

In [265]:
df_am = tabula.read_pdf(file_path,pages=14)
df_am.columns = colunas
df_am = df_am.iloc[1:10,:]
df_am.head(2)

,longitude,latitude,id_br,bandeira,jurisdicao,rodovia,km,uf,abastec,restaur,lanch,loja_coven,tel_pub,hotel,serv_mec_eletr,borrach,cx_eletr,area_estac,no_vagas
1,-60015533,-2971669,1,BR/ATEN/\rIPIRAN/\rEQUAT,FEDERAL,BR-174,883.8,AM,1,1,1,1,1,1,1,1,1,30000,30
2,-60025819,-2049167,2,BR/ATEN/\rIPIRAN/\rEQUAT,FEDERAL,BR-174,990.8,AM,1,1,1,1,1,1,1,1,1,50000,50

In [266]:
df_am.shape

(9, 19)

### 5. Bahia

In [269]:
df_ba = tabula.read_pdf(file_path,pages='16-18')

In [295]:
df_ba = df_ba.iloc[np.r_[:35 , 36:71, 73:104], :]
df_ba.head(2)

,Longitude,Latitude,ID_BR,Bandeira,Jurisdição,Rodovia,KM,UF,Abastec.,Restaur.,Lanch.,Loja Coven.,Tel. Púb.,Hotel,ServMecEletr,Borrach.,Cx Elet.,Estac.(m2),No Vagas
0,-43763233,-14326850,1,NaN,FEDERAL,BR-030,"112,3",BA,1,1,1,0,0,0,0,0,0,0,0
1,-42790083,-14210333,2,NaN,FEDERAL,BR-030,"219,5",BA,1,1,1,0,0,0,0,1,0,0,0
2,-42723033,-14166333,3,NaN,FEDERAL,BR-030,"228,9",BA,1,1,1,0,0,0,0,1,0,0,0
3,-42497433,-14062967,4,NaN,FEDERAL,BR-030,NaN,BA,1,1,1,0,0,1,0,0,0,0,0
4,-42435767,-14112700,5,NaN,FEDERAL,BR-030,"268,3",BA,1,1,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,-40087460,-13856840,97,BR,FEDERAL,NaN,NaN,BA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,-43601183,-13266647,98,NaN,FEDERAL,BR-349,"787,1",BA,1,1,1,0,1,0,0,1,0,455,13
101,-43383240,-13285700,99,BR,FEDERAL,NaN,NaN,BA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,-40288944,-9868083,100,NaN,FEDERAL,BR-407,57,BA,1,1,1,1,1,1,1,1,0,20000,250
103,-40015250,-11344778,101,NaN,FEDERAL,BR-407,229,BA,1,1,1,1,1,0,1,1,0,9000,112

In [447]:
df_ba.shape

(140, 19)

### 6. Ceará

In [319]:
df_ce = tabula.read_pdf(file_path,pages='20-23')
df_ce = df_ce.iloc[np.r_[:35 , 36:71, 72:107,109:138], :]
df_ce.head(2)

,Longitude,Latitude,ID_BR,Bandeira,Jurisdição,Rodovia,KM,UF,Abastec.,Restaur.,Lanch.,Loja Coven.,Tel. Púb.,Hotel,ServMecEletr,Borrach.,Cx Elet.,Estac.(m2),No Vagas
0,-40457210,-6125400,1,NaN,FEDERAL,BR-020,59.4,CE,1,1,1,0,1,0,1,1,0,1012,9
1,-40295230,-6015360,2,NaN,FEDERAL,BR-020,81.32,CE,1,1,1,0,1,0,0,1,0,675,6

In [374]:
df_ce.shape

(134, 19)

### 7. Espirito Santo

In [483]:
df_es_1 = tabula.read_pdf(file_path,pages='25')
df_es_2 = tabula.read_pdf(file_path,pages='26')
df_es_3 = tabula.read_pdf(file_path,pages='27')

In [484]:
df_es_1.columns = colunas
df_es_2['latitude'] = df_es_2['Longitude Latitude'].str[-9:]
df_es_2['Longitude'] = df_es_2['Longitude Latitude'].str[:9]
df_es_2 = df_es_2.iloc[:,np.r_[19,18,1:18]]
df_es_2.columns = colunas

In [485]:
df_es_3['latitude'] = df_es_3['Longitude Latitude'].str[-9:]
df_es_3['Longitude'] = df_es_3['Longitude Latitude'].str[:9]
df_es_3 = df_es_3.iloc[:,np.r_[19,18,1:18]]
df_es_3.columns = colunas

In [486]:
df_es = pd.concat([df_es_1,df_es_2,df_es_3], ignore_index=True)

In [495]:
df_es.reset_index(drop = True)

,longitude,latitude,id_br,bandeira,jurisdicao,rodovia,km,uf,abastec,restaur,lanch,loja_coven,tel_pub,hotel,serv_mec_eletr,borrach,cx_eletr,area_estac,no_vagas
0,-39958250,-18266139,1,NaN,FEDERAL,BR-101,12.25,ES,1,1,1,0,1,0,1,1,0,20000,120.0
1,-39955944,-18293639,2,NaN,FEDERAL,BR-101,15.68,ES,1,1,1,0,1,0,1,1,1,15000,80.0
2,-39957139,-18300833,3,NaN,FEDERAL,BR-101,16.43,ES,1,1,1,0,0,0,0,1,0,1500,15.0
3,-39948889,-18373389,4,NaN,FEDERAL,BR-101,25.52,ES,1,1,1,1,1,1,0,1,0,5000,30.0
4,-39935056,-18421000,5,NaN,FEDERAL,BR-101,30.90,ES,1,1,1,0,1,0,0,0,0,2500,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,-41363650,-20802067,91,NaN,FEDERAL,BR-482,27.60,ES,1,1,1,0,1,0,0,0,0,1000,10.0
91,-41406467,-20793800,92,NaN,FEDERAL,BR-482,32.90,ES,1,1,1,1,0,1,1,1,0,2000,20.0
92,-41473800,-20748550,93,NaN,FEDERAL,BR-482,42.50,ES,1,1,1,1,1,1,0,1,0,10000,100.0
93,-41661200,-20782783,94,NaN,FEDERAL,BR-482,71.80,ES,1,1,1,0,1,1,0,1,0,2500,25.0
94,-41685400,-20784267,95,NaN,FEDERAL,BR-482,75.20,ES,1,0,1,1,1,0,0,1,0,1500,15.0

In [503]:
df_es[df_es['longitude'].str.contains("[a-zA-Z]", na=False).]

,longitude,latitude,id_br,bandeira,jurisdicao,rodovia,km,uf,abastec,restaur,lanch,loja_coven,tel_pub,hotel,serv_mec_eletr,borrach,cx_eletr,area_estac,no_vagas
68,BR -40363,-20330970,69,0PETROBRÁS,FEDERAL,BR-262,2.5,ES,1,0,0,1,1,0,0,0,1,1800,NaN
69,BR -40367,-20332975,70,0PETROBRÁS,FEDERAL,BR-262,2.9,ES,1,0,1,0,1,0,0,1,0,0,NaN

In [488]:
 df = df[~df['addzip'].str.contains("[a-zA-Z]").fillna(False)]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 19 columns):
longitude         95 non-null object
latitude          95 non-null object
id_br             95 non-null int64
bandeira          29 non-null object
jurisdicao        95 non-null object
rodovia           95 non-null object
km                95 non-null float64
uf                95 non-null object
abastec           95 non-null int64
restaur           95 non-null int64
lanch             95 non-null int64
loja_coven        95 non-null int64
tel_pub           95 non-null int64
hotel             95 non-null int64
serv_mec_eletr    95 non-null int64
borrach           95 non-null int64
cx_eletr          95 non-null int64
area_estac        95 non-null int64
no_vagas          93 non-null float64
dtypes: float64(2), int64(11), object(6)
memory usage: 14.2+ KB

### 8. Goias / DF

In [ ]:
df_go = tabula.read_pdf(file_path,pages='')
df_go.head(2)

In [ ]:
df_go.shape

### 9. Maranhão

In [ ]:
df_es = tabula.read_pdf(file_path,pages='25-27')

In [244]:
df_ac

### 9. Maranhão

In [ ]:
df_es = tabula.read_pdf(file_path,pages='25-27')

### 9. Maranhão

In [ ]:
df_es = tabula.read_pdf(file_path,pages='25-27')

In [167]:
df = tabula.read_pdf(file_path, pages = 8)

In [161]:
df.columns = colunas